<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="form1" method="POST" action="/api/url-shortner">
        <table>
            <tr>
            <td>Url</td>
            <td><input type="text" name="urls" ></td>
            <td colspan="2"><input type="submit" value="Save" ></td>
            </tr>
        </table>
    </form> 

    <hr>
    <center><h3>All Saved Urls</h3></center>
    
    <% for (var i = 0; i < allUrls.length; i++) { %>
        <li class="timeline-yellow">
            <div class="timeline-time">
                <%= allUrls[i].urls%>
            </div>
        </li>
        <% } %>
</body>
</html>